<header class="my-5 ">
    <nav class="navbar navbar-expand-lg navbar-home fixed-top px-4 py-2 " style="background-color: white">
        <div class="container">
            <a routerLink="" class="navbar-brand d-flex align-items-center">
                <span class="logo">
                    <span class="" style="color: #fa37b9 !important;">Task</span>Flow<span class="" style="color: #fa37b9 !important;">..</span>
                </span>
            </a>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav gap-4">
                
                    <li class="nav-item">
                        <a href="#allTask" class="nav-link text-dark">All Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a  href="#form" class="nav-link text-dark">Create New Task</a>
                    </li>
                   
                </ul>
            </div>

        
        </div>
    </nav>
</header>
