<header>
    <nav class="navbar navbar-expand-lg navbar-home px-4 py-2">
        <div class="container">
            <a routerLink="" class="navbar-brand d-flex align-items-center">
                <span class="logo">
                    <span class="" style="color: #3742fa !important;">Task</span>Flow<span class="" style="color: #3742fa !important;">..</span>
                </span>
            </a>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav gap-4">
                    <li class="nav-item">
                        <a routerLink="" class="nav-link text-dark">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="tasks" class="nav-link text-dark">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="huntings" class="nav-link text-dark">Demands</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="rankings" class="nav-link text-dark">Tags</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="members" class="nav-link text-dark">Users</a>
                    </li>
                </ul>
            </div>

            <div class="d-flex align-items-center">
                <a routerLink="home" class="btn btn-outline-primary rounded-pill px-4 me-3">Log in</a>
                <a routerLink="home" class="btn btn text-white rounded-pill px-4" style="background-color: #3742fa !important;">Get started</a>
            </div>
        </div>
    </nav>
</header>
