<div class="container py-vh-4 position-relative mt-5 pt-4 mb-5">
    <div class="row d-flex align-items-center py-vh-5">
        <div class="col-7">
            <div class="row d-flex align-items-center justify-content-center ms-5 ps-4">
                <div class="">
                    <span class="badge rounded-pill fs-5 fw-lighter" style="background-color: #f8c93d !important;">Elevate Your Workflow</span>
                    <h1 class="display-huge mt-4 mb-4 lh-1">Unlock Your Productivity Potential with us!</h1>
                    </div>
                    <div class="">
                    <p class="lead text-secondary">
                        TaskFlow has emerged from a collaborative effort aimed at addressing the gaps in existing task management tools. 
                        Our goal is to provide a seamless and effective solution that empowers individuals and teams.</p>
                    </div>
                    <div class="d-flex align-items-center gap-4 mt-3">
                        <a href="" class="btn btn-primary btn-lg rounded-pill">
                            Get started
                            <svg class="ms-2" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </a>
                        <a href="" class="btn btn-outline-primary btn-lg rounded-pill px-5">
                            About us
                        </a>
                    </div>
            </div>
        </div>
        <div class="col-5">
            <img class="img-fluid d-none d-md-block" style="min-height: 50px !important; min-width: 50px !important;" [src]="imageHome1" alt="dashboard image">
        </div>
    </div>
</div>
<section class="mt-5 pt-4" style="background-color: #f8fafc;">
    <div class="container-fluid py-8 px-4 mx-auto max-w-screen-xl">
        <div class="row gap-5 gap-md-0 align-items-center">
            <div class="col-6 mb-5">
                <div class="row g-5">
                    <div class="col-md-6">
                        <img class="w-full img-fluid rounded-lg" [src]="imageHome3" alt="office content 1">
                    </div>
                    <div class="col-md-6">
                        <img class="mt-4 w-full img-fluid mt-5 pt-5 rounded-lg" [src]="imageHome2" alt="office content 2">
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-2 mt-md-0">
                <h2 class="display-huge mt-4 mb-4 lh-1">Empower Your Team and Achieve Success</h2>
                <p class="lead text-secondary">Unlock the potential for excellence in your team's collaboration. Suspendisse in turpis at nulla cursus vestibulum. Etiam non dui vel neque blandit feugiat. Empower your team to achieve greatness and foster efficient teamwork. Suspendisse in turpis at nulla cursus vestibulum. Etiam non dui vel neque blandit feugiat.</p>
                <a href="" class="btn btn-primary btn-lg rounded-pill">
                    Get started
                    <svg class="ms-2" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="mt-5 pt-5 mb-5 mx-4">
    <div class="container py-8 px-4 d-flex gap-16 items-center">
        <div class="col-6 mt-5 pt-5">
            <h1 class="display-huge mt-4 mb-4 lh-1">Revolutionize Management</h1>
            <p class="lead text-secondary">Introducing an advanced enterprise-level solution designed to streamline talent and equipment management processes within organizations processes within organizations.</p>
            <a href="#" class="btn btn-primary btn-lg rounded-pill px-3">
                About us
                <svg class="ms-2" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
        <div class="col-6 mb-5">
            <div class="row g-4">
                <div class="col-md-6">
                    <img class="w-full img-fluid rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
                </div>
                <div class="col-md-6">
                    <img class="mt-4 w-full img-fluid mt-5 pt-5 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
                </div>
            </div>
        </div>
    </div>
</section>

